<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(pageTitle ,content)">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title th:text="${pageTitle}">Blogging App</title>
  <link th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}" rel="stylesheet" />
  <style>
    body { background-color: #f8f9fa; }

    .cursive-font {
        font-family: 'Brush Script MT', cursive;
    }
  </style>
</head>
<body>
  <div th:replace="~{fragments/fragment :: navbar}"></div>

  <!-- Page-specific content goes here -->
  <div th:insert="${content}"></div>

  <div th:replace="~{fragments/fragment :: footer}"></div>

  <script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}" defer></script>
</body>
</html>
