<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(pageTitle ,content)">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title th:text="${pageTitle}">Blogging App</title>
  <!-- Favicon links -->
  <link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
  <link rel="shortcut icon" href="/favicons/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="BlogSpace" />
  <link rel="manifest" href="/favicons/site.webmanifest" />

  <link th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}" rel="stylesheet" />
  <style>
    body { background-color: #f8f9fa; }

    .cursive-font {
        font-family: 'Brush Script MT', cursive;
    }
  </style>
</head>
<body>
  <div th:replace="~{fragments/fragment :: navbar}"></div>

  <!-- Page-specific content goes here -->
  <div th:insert="${content}"></div>

  <div th:replace="~{fragments/fragment :: footer}"></div>

  <script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}" defer></script>

  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/sw.js')
          .then(reg => {
            // console.log('✅ Service Worker registered!', reg)
          })
          .catch(err => {
            console.log('❌ Service Worker registration failed:', err)
          });
      });
    }
  </script>
</body>
</html>
